
body {
    background-image: url(../../public/images/auth-background.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

main {
    padding-block: 20px;
    padding-inline: 20px;
    min-height: calc(100vh - var(--header-height));
}

.header {
    min-height: var(--header-height);
    margin-inline: auto;
    padding-inline: 20px;
    border-bottom-left-radius: var(--border-radius-small);
    border-bottom-right-radius: var(--border-radius-small);
}

.form {
    width: 100%;
    padding: 40px 20px;
    background-color: var(--color-white);
    border-radius: var(--border-radius-small);
}

.form__wrapper {
    max-width: 574px;
}

.form__title {
    width: fit-content;
}

.form__input-group {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

.form__footer {
    margin-top: 60px;
}

.form__input {
    width: 100%;
    padding-block: 12px;
    border-top: none;
    border-inline: none;
    font-size: 24px;
    background-color:transparent;
}

.form__input::placeholder {
    color: var(--color-grey);
}

.form__input:focus {
    outline: none;
    border-style: dashed;
    border-top: none;
    border-inline: none;
    border-color: var(--color-dark);
}

/* классы для ошибок формы */
.form__error {
    display: none;
    color: var(--color-accent);
    margin-top: 10px;
}

.form__error.active {
    display: block;
}

.form__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}

.form__button {
    width: 100%;
    padding-block: 18px;
    padding-inline: 10px;
}


@media (max-width: 1599px) {
    .form__input-group {
        margin-top: 20px;
        row-gap: 20px;
    }

    .form__title {
        font-size: 30px;
    }

    .form__input {
        font-size: 20px;
    }

    .form__footer {
        margin-top: 30px;
    }
}

@media (max-width: 768px) {
    .form__input-group {
        row-gap: 10px;
    }
}

@media (max-width: 600px) {
    .form__footer {
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
    }

    .form__submit {
        order: -1;
    }
}