
.draft {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    column-gap: 40px;
    row-gap: 27px;
    --padding-inline: 60px;
    padding-inline: var(--padding-inline);
    align-items: stretch;
    overflow: auto;
}

.field {
    padding-block: 35px;
    grid-row: 1 / -1;
}

.draft__inf {
    background-color: #3B3D37;
    height: 75px;
    font-size: 19px;
    font-weight: 500;
}

.draft__inf--top {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.draft__inf--bottom {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


.draft__accent-text {
    font-size: 20px;
    font-weight: 400;
}

.draft__list-wrapper {
    overflow: auto;
}

.draft__list {
    max-width: 300px;
    height: fit-content;
    background-color: var(--color-grey);
}



@media (max-width: 766px) {
    .draft {
        grid-template-columns: auto;
        overflow: auto;
        --padding-inline: 25px;
        padding-bottom: 95px;
    }

    .draft__inf {
        position: absolute;
        bottom: 0;
        width: 50%;
        border-radius: 0;
        font-size: 14px;
    }

    .draft__inf--fullsize {
        width: 100%;
    }

    .draft__accent-text {
        font-size: inherit;
    }

    .draft__inf--top {
        left: 0;
        z-index: 1;
    }

    .draft__inf--bottom {
        right: 0;
        z-index: 1;
    }

    .field {
        padding-block: 20px;
        height: 80vh;
        min-height: 500px;
    }

    .footballers {
        height: 80vh;
        min-height: 600px;
        overflow-y: auto;
    }

    .draft__list-wrapper {
        overflow: visible;
    }
}

@media (max-width: 500px) {
    .draft__inf {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.draft__footballer-controls--left.active-block {
    left: calc(var(--padding-inline) * (-1));
    top: 50%;
    translate: 0 -50%;
}

.draft__footballer-controls--right.active-block {
    right: 0;
    bottom: 0;
}
