
.field {
    flex-direction: column;
    align-items: center;

    container-type: size;
    container-name: field;
    height: 100%;

    --tactics-height: 54px;
}

/* когда ширина контейнера достаточно большая растягиваем поле на всю высоту, 
ширина - автоматически расчитывается из соотношения сторон (aspect-ratio)

когда ширины недостаточно, чтобы растнуть поле на всю высоту и соблюсти соотношение сторон вступает в силу @container-запрос
растягиваем поле на всю ширину, высота автоматически расчитывается из соотношения сторон */

.field__wrapper {
    width: fit-content;
    height: 100%;
}

.field__body {
    width: fit-content;
    height: calc(100% - var(--tactics-height));
    aspect-ratio: 0.66;

    display: flex;
    align-items: end;

    background-image: url(../../public/images/field.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    container-type: inline-size;
    container-name: field-body
}

@container field (aspect-ratio < 0.6) {
    .field__wrapper {
        width: 100%;
        height: auto;
    }
}

.field__tactics {
    position: relative;
    width: 90%;
    max-width: 373px;
}

.field__tactics-button {
    width: 100%;
    height: var(--tactics-height);
    display: block;
    padding-block: 15px;
    padding-inline: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: var(--color-black);
    border: 0;
}

.field__tactics-list {
    position: absolute;
    top: var(--tactics-height);
    left: 0;
    width: 100%;
    line-height: 0;
    overflow: hidden;
    transition: line-height var(--transition-duration);
    z-index: 1;
}

.field__tactics-button.active ~ .field__tactics-list {
    line-height: 1.2;
}

.field__option {
    padding-block: 0.5lh;
    padding-inline: 30px;
    background-color: rgb(58, 58, 58, 0.8);
}

@media (hover: hover) {
    .field__option:hover {
        color: var(--color-black);
        background-color: var(--color-accent);
        cursor: default;
    }
}

.field__option:last-child {
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

.field__tactics-button.active ~ .field__tactics-list .field__option:not(:last-child) {
    border-bottom: 1px solid rgb(255, 255, 255, 0.2);
}

.field__option.active {
    color: var(--color-accent);
}

.field__footballers-wrapper {
    width: 100%;
    height: 90%;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
}

.field__footballers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 10px;
}

.field__card {
    width: 80px;
    aspect-ratio: 1;
    padding: 2px;
    border: 1px solid rgb(255, 255, 255, 0.1);
    border-radius: 8px;
    background-color: #636363;
}

.field__card.active {
    border: 3px solid var(--color-accent);
    padding: 0;
}


@container field-body (max-width: 450px) {
    .field__card {
        width: 60px;
        /* height: 60px; */
    }
}

.field__footballer-photo {
    object-fit: contain;
    height: 100%;
}