
.search-box__controls {
    top: 20px;
    right: 20px;
}

form {
    display: grid;
    grid-template-columns: repeat(4, auto);
    column-gap: 40px;
    row-gap: 30px;
}

.form__input-box {
    position: relative;
}

.form__input-box--wide {
    grid-column: span 2;
}

.form__wide-container {
    grid-column: 1 / -1;
}

.form__input-box--date {
    position: relative;
}

.form__league-search-box {
    max-width: 300px;
    margin-bottom: 20px;
}

.form__input--date {
    padding-left: 44px;
    padding-right: 0;
    color: var(--color-grey-alternate);
}

.form__input--date::-webkit-calendar-picker-indicator {
    position: absolute;
    left: 20px;
    top: 20px;
    opacity: 0;
    height: calc(100% - 40px);
}

.form__input {
    width: 100%;
    min-width: 200px;
    padding: 20px;
    border-radius: var(--border-radius);
}

.input-controls {
    position: absolute;
    top: 0;
    right: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 3px;
    justify-content: center;
}

.input-controls__item {
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: 0;
}

.input-controls__item:hover {
    background-color: var(--color-grey-alternate);
}

@media (hover: hover) {
    .input-controls__item:hover {
        background-color: var(--color-grey-alternate);
        cursor: default;
    }
}

.form__error {
    color: red;
}

.leagues {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 20px;
}

.league {
    border-radius: var(--border-radius);
    height: 150px;
    aspect-ratio: 1;
    padding: 16px 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 6px solid var(--color-white);
    background-color: var(--color-white);
    text-align: center;
}

.league__title {
    color: var(--color-black);
    font-size: 15px;
}

.league__timestamp {
    color: var(--color-grey);
    font-size: 11px;
}

.league:has(input:checked) {
    border: 6px solid var(--color-accent);
}

.leagues__input {
    display: none;
}

@media (max-width: 1439px) {
    .form {
        grid-template-columns: auto auto;
    }
}

@media (max-width: 766px) {
    .form {
        grid-template-columns: auto;
    }

    .form__input-box--wide {
        grid-column: span 1;
    }
}

@media (max-width: 500px) {
    .leagues {
        justify-content: center;
    }
}

@media (max-width: 350px) {
    .form__input-box--date::before {
        content: '';
    }

    .form__input--date {
        padding-left: 48px;
    }
}