

.tournaments__list {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    --border: 1px solid rgb(255, 255, 255, 0.2);
    container-type: inline-size;
}

.tournaments__item {
    width: 100%;
}

.tournament {
    display: grid;
    grid-template-columns: 1fr auto auto auto auto;
    background-color: var(--color-transparent-grey);
    border-radius: var(--border-radius);
    font-size: 15px;
    font-weight: 600;
    overflow: hidden;
}

.tournament__title-wrapper {
    position: relative;
    min-width: 200px;
    flex-basis: 50%;
    flex-grow: 1;
}

.tournament__author {
    min-width: 200px;
}

.tournament__status {
    min-width: 200px;
}

.tournament__item-wrapper {
    min-height: 56px;
    padding-inline: 20px;
    display: flex;
    align-items: center;
}

.tournament__item-wrapper:not(:last-child) {
    border-right: var(--border);
}

.tournament__thin-text {
    font-weight: 400;
    color: rgb(255, 255, 255, 0.8);
}



.tournament__link {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: #14120F;
    border-right: var(--border);
    justify-content: center;
    align-items: center;
}

.tournament__link.active {
    display: flex;
}

.tournament:has(.tournament__link.active) {
    background-color: #14120F;
}

@media (hover: hover) {
    .tournament:hover {
        background-color: #14120F;
    }

    .tournament:hover .tournament__link {
        display: flex;
    }
}

@container (max-width: 900px) {
    .tournament {
        grid-template-columns: auto auto;
    }

    .tournament__item-wrapper:first-child {
        border-right: 0;
    }

    :is(.tournament__title-wrapper, .tournament__author) {
        grid-column: 1 / -1;
        border-bottom: var(--border);
    }
}

.tournament__timestamp {
    width: 120px;
    display: inline-block;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}





.modal-content {
    background-color: #2F2F2F;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
